PORT=3333
NODE_ENV=development
DATABASE_URL=postgres://docker:docker@localhost:5432/brevly
BASE_SHORT_URL=http://localhost:3333

# Azure Blob Storage
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=your_account_name;AccountKey=your_account_key;EndpointSuffix=core.windows.net
AZURE_STORAGE_CONTAINER_NAME=brevly-exports